@{
    ViewBag.Title = "RoleManage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")

<h1 class="page-header">Quản lý quyền</h1>

<div class="input-group">
    <input id="inputRoleName" title="Vui lòng nhập tên quyền" required="required" type="text" placeholder="Tên quyền" class="form-control">
    <span class="input-group-btn">
        <button id="addButton" type="button" class="btn btn-default">
            Thêm mới
        </button>
    </span>
</div>
<h2 class="sub-header">Danh sách các quyền của hệ thống</h2>
<div class="table-responsive" id="roleTable">
</div>
@*<div id="loading">
    <img src="~/Images/waiting-wheel-300x300.gif" width="80px" height="80px" />
</div>*@
<div id="dialogUpdate">
</div>
<div id="thongbao" style="position: fixed; bottom: 0px">
</div>
<script type="text/javascript">
    $(function () {
        $('#dialogUpdate').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            title: 'Cập nhật',
            modal: true,
            draggable: false,
            //buttons: {
            //    "Đồng ý": function () {
            //        $(this).dialog("close");
            //    },
            //    "Bỏ qua": function () {
            //        $(this).dialog("close");
            //    }
            //},
            close: function (event, ui) {
                //$(this).remove();
            }
        });
        $("#thongbao").visible = false;

        $('#addButton').click(function () {
            if ($("#inputRoleName").val() == "")
                CreateNotify("alert-danger", "Chú ý!", "Bạn không thể để rỗng tên quyền");
            else
                $.post("/Admin/CreateRole", { "roleName": $("#inputRoleName").val() },
                        function (data) {
                            var str = "";
                            if (data == 0) {
                                CreateNotify("alert-danger", "Chú ý!", "Không thể tạo mới quyền này. Vui lòng kiểm tra lại");
                            }
                            else if (data == -1) {
                                CreateNotify("alert-warning", "Chú ý!", "Quyền này đã tồn tại");
                            }
                            else {
                                CreateNotify("alert-success", "Thành công!", "Đã thêm mới quyền thành công");
                                GetListRole();
                            }
                            $("#inputRoleName").val("");
                        });
        });
        GetListRole();
    });
    function GetListRole() {
        $.post("/Admin/GetListRole", { null: null },
                                           function (data) {
                                               var jSonData = data;
                                               var str = "<table class='table table-striped'>";
                                               str += "<thead><tr><th>#</th><th>Tên quyền</th><th>Thao tác</th></tr></thead>";
                                               str += "<tbody>";

                                               for (var i = 0; i < jSonData.length; i++) {
                                                   str += "<tr><td>" + (i + 1) + "</td><td>" + jSonData[i].RoleName + "</td>";
                                                   str += "<td><button onClick='onDelete(" + jSonData[i].RoleId + ")'  type='button' class='btn btn-link'>Xóa</button>";
                                                   str += "<button onClick='onUpdate(" + jSonData[i].RoleId + ")'  type='button' class='btn btn-link'>Chỉnh sửa</button>";
                                                   str += "</td></tr>";
                                               }
                                               str += "</tbody></table>";
                                               $("#roleTable").html(str);
                                           });
    }

    function onDelete(id) {
        $('<div></div>').appendTo('body').html('<div><h6>Bạn có thực muốn xóa quyền này?</h6></div>').dialog({
            modal: true,
            title: 'Chú ý',
            zIndex: 10000,
            autoOpen: true,
            width: 'auto',
            resizable: false,
            buttons: {
                "Đồng ý": function () {
                    $.post("/Admin/DeleteRole", { roleId: id },
                                                       function (data) {
                                                           if (data == 0)
                                                               CreateNotify("alert-danger", "Thất bại!", "Không thể xóa quyền này");
                                                           else {
                                                               CreateNotify("alert-success", "Thành công!", "Đã xóa quyền thành công");
                                                               GetListRole();
                                                           }
                                                       });
                    $(this).dialog("close");
                },
                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            },
            close: function (event, ui) {
                $(this).remove();
            }
        });
    }

    function onUpdate(id) {
        $.ajax({
            // Call EditPartialView action method
            url: "/Admin/UpdateRole",
            data: { roleId: id},
            type: 'Get',
            success: function (msg) {
                $("#dialogUpdate").dialog("open");
                $("#dialogUpdate").empty().append(msg);
            },
            error: function () {
                alert("something seems wrong");
            }
        });
    }

    function CreateNotify(type, title, content) {
        /*
        type = [alert-danger, alert-warning, alert-success]
        */
        var options = {};
        options = { percent: 100 };
        str = "<div class='alert alert-dismissible " + type + "' role='alert'>";
        str += "<button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>";
        str += "<strong>" + title + "</strong> " + content + "</div>";
        $("#thongbao").html(str);
        $("#thongbao").show("clip", options, 500, null);
    }
    function callback() {
        setTimeout(function () {
            $("#thongbao:visible").removeAttr("style").fadeOut();
        }, 30000);
    };
</script>
