@{
    ViewBag.Title = "RoleManage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")

<h1 class="page-header">Quản lý quyền</h1>
<button id="addButton" type="button" class="btn btn-default">Thêm mới</button>
<h2 class="sub-header">Danh sách các quyền của hệ thống</h2>
<div class="table-responsive" id="roleTable">
</div>
<div id="loading"><img src="~/Images/waiting-wheel-300x300.gif" width="80px" height="80px" /></div>
<div id="dialog"></div>
<script type="text/javascript">
    $(function () {
        $('#dialog').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            title: 'Tạo mới',
            modal: true,
            draggable: false
        });

        $('#addButton').click(function () {
            //Load the CreateAlbumPartial action which will return 
            // the partial view _CreateAlbumPartial
            $('#dialog').load("@Url.Action("CreateRole", "Admin")",
                function (response, status, xhr) {
                    $('#dialog').dialog('open');
                });
        });
        GetListRole();

    });

</script>
