@{
    ViewBag.Title = "RoleManage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")

<h1 class="page-header">Quản lý quyền</h1>
<img id="loading" src="~/Images/waiting-wheel-300x300.gif" />
<div class="input-group">
    <input id="inputRoleName" title="Vui lòng nhập tên quyền" required="required" type="text" placeholder="Tên quyền" class="form-control">
    <span class="input-group-btn">
        <button id="addButton" type="button" class="btn btn-default">
            Thêm mới
        </button>
    </span>
</div>
<h2 class="sub-header">Danh sách các quyền của hệ thống
</h2>
<div class="table-responsive" id="roleTable">
</div>
<div id="updateForm" style="display: none">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            @Html.Hidden("idUpdateRole")
            <label for="inputNameRoleUpdate" class="col-sm-2 control-label">Quyền</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUpdateRole" placeholder="Quyền" value="" />
            </div>
        </div>
    </form>
    <div style="text-align: right">
        <button id="editButton" onclick="onUpdateSubmit()" type="button" class="btn btn-default">
            Cập nhật
        </button>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $("#thongbao").visible = false;

        $('#addButton').click(function () {
            if ($("#inputRoleName").val() == "")
                CreateNotify("alert-danger", "Chú ý!", "Bạn không thể để rỗng tên quyền");
            else
                $.post("/Admin/CreateRole", { "roleName": $("#inputRoleName").val() },
                        function (data) {
                            var str = "";
                            if (data == 0) {
                                CreateNotify("alert-danger", "Chú ý!", "Không thể tạo mới quyền này. Vui lòng kiểm tra lại");
                            }
                            else if (data == -1) {
                                CreateNotify("alert-warning", "Chú ý!", "Quyền này đã tồn tại");
                            }
                            else {
                                CreateNotify("alert-success", "Thành công!", "Đã thêm mới quyền thành công");
                                GetListRole();
                            }
                            $("#inputRoleName").val("");
                        });
        });
        GetListRole();
    });
    function GetListRole() {
        $.post("/Admin/GetListRole", { null: null },
            function (data) {
                var jSonData = data;
                var str = "<table class='table table-striped'>";
                str += "<thead><tr><th>#</th><th>Tên quyền</th><th>Thao tác</th></tr></thead>";
                str += "<tbody>";

                for (var i = 0; i < jSonData.length; i++) {
                    str += "<tr><td>" + (i + 1) + "</td><td>" + jSonData[i].RoleName + "</td>";
                    str += "<td><button onClick='onDelete(" + jSonData[i].RoleId + ")'  type='button' class='btn btn-link'>Xóa</button>";
                    str += "<button onClick='onUpdate(" + jSonData[i].RoleId + ")'  type='button' class='btn btn-link'>Chỉnh sửa</button>";
                    str += "</td></tr>";
                }
                str += "</tbody></table>";
                $("#roleTable").html(str);
            });
    }

    function onDelete(id) {
        $('<div></div>').appendTo('body').html('<div><h6>Bạn có thực muốn xóa quyền này?</h6></div>').dialog({
            modal: true,
            title: 'Chú ý',
            zIndex: 10000,
            autoOpen: true,
            width: 'auto',
            resizable: false,
            buttons: {
                "Đồng ý": function () {
                    $.post("/Admin/DeleteRole", { roleId: id },
                                                       function (data) {
                                                           if (data == 0)
                                                               CreateNotify("alert-danger", "Thất bại!", "Không thể xóa quyền này");
                                                           else {
                                                               CreateNotify("alert-success", "Thành công!", "Đã xóa quyền thành công");
                                                               GetListRole();
                                                           }
                                                       });
                    $(this).dialog("close");
                },
                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            },
            close: function (event, ui) {
                $(this).remove();
            }
        });
    }

    function onUpdate(id) {
        $.post("/Admin/GetUpdateRole", { roleId: id },
            function (data) {
                if (data == null)
                    CreateNotify("alert-danger", "Thất bại!", "Không thể cập nhật quyền lúc này");
                else {
                    $("#idUpdateRole").val(data.RoleId);
                    $("#inputUpdateRole").val(data.RoleName);
                    $("#updateForm").visible = true;
                    $("#updateForm").dialog({
                        autoOpen: true,
                        width: 400,
                        resizable: false,
                        title: 'Cập nhật',
                        modal: true,
                        draggable: false,
                        close: function (event, ui) {
                            //$(this).remove();
                            $("#updateForm").visible = false;
                        }
                    });
                    GetListRole();
                }
            });
    }
    function onUpdateSubmit() {
        $.post("/Admin/PostUpdateRole", { "roleId": $("#idUpdateRole").val(), "roleName": $("#inputUpdateRole").val() },
            function (data) {
                var str = "";
                if (data == 0) {
                    CreateNotify("alert-danger", "Chú ý!", "Cập nhật thất bại. Vui lòng kiểm tra lại");
                }
                else {
                    CreateNotify("alert-success", "Thành công!", "Đã cập nhật quyền thành công");
                    GetListRole();
                }
                $("#updateForm").dialog("close");
            });
    }
</script>
