@model CMS.Models.Role
<form class="form-horizontal" role="form">
    <div class="form-group">
        @Html.HiddenFor(e => e.RoleId, new { id = "idUpdateRole" })
        <label for="inputNameRoleUpdate" class="col-sm-2 control-label">Quyền</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(e => e.RoleName, new { @class = "form-control", id = "inputUpdateRole", placeholder = "Quyền" })
        </div>
    </div>
</form>
<div style="text-align: right">
    <button id="editButton" onclick="onUpdate()" type="button" class="btn btn-default">
        Cập nhật
    </button>
</div>
<script>
    function onUpdate() {
        $.post("/Admin/PostUpdateRole", { "roleId": $("#idUpdateRole").val(), "roleName": $("#inputUpdateRole").val() },
                        function (data) {
                            var str = "";
                            if (data == 0) {
                                CreateNotify("alert-danger", "Chú ý!", "Cập nhật thất bại. Vui lòng kiểm tra lại");
                            }
                            else {
                                CreateNotify("alert-success", "Thành công!", "Đã cập nhật quyền thành công");
                                GetListRole();
                            }
                            $("#dialogUpdate").dialog("close");
                        });
    }
</script>
