@{
    ViewBag.Title = "Home Page";

}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}*@

<div class="container">
    <div class="col-sm-8">
        <ol class="breadcrumb col-sm-12">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Chủ đề</a></li>
            <li class="active">Tin học đại cương</li>
        </ol>
        <ul class="media-list col-sm-12">
            <li class="media">
                <a class="pull-left" href="image/about.jpg">
                    <img width="64px" height="64px" class="media-object" src="image/about.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello 
                </div>
            </li>
            
        </ul>
        <div style="text-align: center">
            <ul class="pagination pagination-lg">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div role="navigation" id="sidebar" class="col-sm-3 col-sm-offset-1 sidebar-offcanvas">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>
                Etiam porta
					<em>sem malesuada magna</em>
                mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
            </p>
        </div>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
            </ol>
        </div>

        <div class="list-group">
            <a class="list-group-item active" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="jumbotron col-sm-8">
        <article>
            <header>
                <h1 class="headline">Tiêu đề bài viết</h1>
                <div class="byline">
                    <address class="author">Viết bởi <a rel="author" href="#">Nguyễn Dũng</a>, <time pubdate datetime="2011-08-28" title="August 28th, 2011">ngày 14 tháng 07 năm 2014</time></address>
                </div>
            </header>
            <div class="article-content">
                <p>Nội dung bài viết đặt ở đây</p>
            </div>

        </article>
        <div class="fb-like" data-href="http://localhost:25793" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <div class="fb-comments" data-href="http://localhost:25793" data-numposts="20" data-colorscheme="light"></div>
    </div>

</div>

